
body {
  font-family: 'Inter', sans-serif;
}

ul {
  padding: 0;
}


.navbar {
  max-width: 870px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  
}

.nav-link {
  text-decoration: none;
  color: #bf7506;
  margin-left: 24px;
  font-size: 16px;
  line-height: 150%;
}

.nav-link.active {
  font-weight: 700;
}